html, body {
    margin: 0;
	padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.desktop {
    margin: 0 24px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 64px;
    display: inline-flex;
    align-items: center;
}

.desktop nav {
    margin-right: 24px;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.logo {
    display: inline-flex;
    height: 32px;
    align-items: center;
}

.logo p {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1.5px;
}

.colmar {
    color: black;
    font-weight: bolder;
}
.academy {
    color: gray;
    font-weight: lighter;
}

.desktop ul {
    display: inline-flex;
    list-style: none;
}

li {
    font-size: 20px;
    padding: 16px;
}



.desktop a {
    text-decoration: none;
    color: black;
}


.mobile {
    display: none;
}    

@media screen and (max-width: 750px) {
    
    .logo {
        display: none;
    }
    
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        height: 64px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: fixed;
        z-index: 100;
    }
    .mobile nav {
        width: 100%;
        height: 64px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .mobile img {
        padding: 0 20px;
    }
}

/* First Section */

.start {
    background-color: rgb(150, 208, 228);
    align-items: center;
    display: inline-flex;
    width: 100%;
    margin-top: 64px;

}

h2 {
    font-weight: 700;
    font-size: 6rem;
}



.start img {
    margin: 32px 24px;
    width: 60%;

}

.learn {
    display: flex;
    flex-direction: column;
}

.learn h2 {
    font-size: 4vw;
    padding-bottom: 2rem;
}

.learn h3 {
    font-size: 2vw;
    padding-bottom: 2rem;
}

.starthere {
    text-align: center;
}

.starthere a {
    color: white;
    text-decoration: none;
}

span {
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    padding: 8px 0;
    font-size: 1.5vw;
    width: 100%;
}

@media screen and (max-width: 750px) {
    
    .start {
        background-color: rgb(150, 208, 228);
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .start img {
        width: 100%;
        margin: 0;
    }

    .learn {
        display: flex;
        flex-direction: column;
       margin: 32px 16px;
    }

    .learn h2 {
        padding-bottom: 2rem;
        font-size: 11vw;
    }

    .learn h3 {
        padding-bottom: 1.5rem;
        font-size: 5vw;
    }

    span {
        font-size: 4vw;
    }
}