html, body {
    min-width: 100%;
    margin-right: 0;
	padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

/*Header*/

.desktop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 64px;
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: white;
}

.desktop nav {
    margin-right: 24px;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.logo {
    margin: 0 24px;
    display: inline-flex;
    height: 32px;
    align-items: center;
}

.logo p {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1.5px;
}

.colmar {
    color: black;
    font-weight: bolder;
}
.academy {
    color: gray;
    font-weight: lighter;
}

.desktop ul {
    display: inline-flex;
    list-style: none;
}

li {
    font-size: 20px;
    padding: 16px;
}

li:hover {
    color: blue;
}



.desktop a {
    text-decoration: none;
    color: black;
}


.mobile {
    display: none;
}    

@media screen and (max-width: 750px) {
    
    .logo {
        display: none;
    }
    
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        height: 64px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: fixed;
        z-index: 100;
        border-bottom: 1px solid black;
        background-color: white;
    }
    .mobile nav {
        width: 100%;
        height: 64px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .mobile img {
        padding: 0 20px;
    }
}

/* 1st Section */
h2 {
    font-size: 3vw;
    text-transform: uppercase;
    text-shadow: 5px 5px 7px black;
}

h3 {
    font-size: 2vw;
    text-shadow: 5px 5px 7px black;
}

p {
    font-size: 1.25vw;    
}

.section1 {
    background-color: rgb(12, 6, 96);
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 64px;
    border-bottom: 5px solid white;
}

.banner {
    width: 60%;
    margin: 32px 24px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
}

.bannermobile {
    display: none;
}

.banner img {
    width: 100%;
}

.learn {
    display: inline-flex;
    align-items: center;
    width: 40%;
}

.starthere {
    width: 80%;
}

.learn h2 {
    padding-bottom: 2rem;
}

.learn h3 {
    padding-bottom: 2rem;
}

.learn p {
    background-color: rgb(0, 61, 125);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border: 1.5px solid white;
    border-radius: 5px;
}

.learn p:hover {
    box-shadow: 2px 2px 7px black;
}

.learn a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 750px) {
    
    .section1 {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .learn {
        width: 100%;
    }

    .starthere {
        width: 100%;
        margin: 32px 16px;
    }

    .banner {
        display: none;
    }

    .bannermobile {
        display: inline-flex;
        width: 100%;
        margin: 0;
    }

    .bannermobile img {
        width: 100%;
        border-bottom: 2px solid white;
    }

    .learn h2 {
        padding-bottom: 2rem;
        font-size: 8vw;
    }

    .learn h3 {
        padding-bottom: 1.5rem;
        font-size: 4vw;
    }

    .learn p {
        font-size: 3vw;
    }
}

/* 2nd Section */

.section2 {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(0, 61, 125);
    border-bottom: 5px solid white;
}

.practice {
    width: 60%;
    margin: 32px 24px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(12, 6, 96);

}

.practice img {
    width: 100%;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin: 0;
}

.quote {
    padding-top: 32px; 
    padding-left: 1vw;  
    margin-top: 0;
}

.quote h2 {
    font-size: 2.5vw;
}

.quote p {
    padding: 1.5rem 0;
    padding-right: 1vw;
}


.information {
    width: 40%;
    margin-top: 32px;
    margin-bottom: 32px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(12, 6, 96);

}

.informationmobile {
    display: none;
}

.information img {
    height: auto;
    width: 35%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
}

.information h3 {
    text-transform: uppercase;
    font-size: 1.5vw;
}

.information p {
    padding-top: 1vw;
}

.information a {
    text-decoration: none;
    color: white;
}

.information a:hover {
    color: blue;
}

.orientation {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

.orientation img {
    margin: 16px;
}

.date {
    width: 65%;
}

.campus {
    display: inline-flex;
    align-items: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.campus img {
    margin: 16px;
}

.find {
    width: 65%;
    margin-right: 16px;
}

.lecture {
    display: inline-flex;
    align-items: center;
}

.lecture img {
    margin: 16px;
}

.join {
    width: 65%;
    margin-right: 16px;
}

@media screen and (max-width: 750px) {
    .practice {
        display: none;
    }

    .information {
        display: none;
    }

    .informationmobile {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        margin: 16px 16px 32px 16px;
        border: 2px solid rgb(255, 255, 255);
    }

    .informationmobile img {
        margin: 0;
        width: 100%;
    }

    .informationmobile h3 {
        font-size: 4vw;
    }

    .informationmobile p {
        font-size: 3vw;
        padding-top: 16px;
    }

    .informationmobile a {
        text-decoration: none;
        color: white;
    }

    .orientation {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        background-color: rgb(12, 6, 96);
    }

    .date {
        padding: 64px 16px;
        padding-top: 32px;
    }

    .campus {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        border: none;
        background-color: rgb(12, 6, 96);
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .find {
        padding: 64px 16px;
        padding-top: 32px;
    }

    .lecture {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        background-color: rgb(12, 6, 96);
    }

    .join {
        padding: 64px 16px;
        padding-top: 32px;
    }
}

/* 3rd Section */

.section3 {
    background-color: rgb(12, 6, 96);
    border-bottom: 5px solid white;
}

.section3 h2 {
    text-align: center;
    padding-top: 32px;
}

.section3 h3 {
    padding: 0 16px;
    padding-top: 16px;
}

.section3 p {
    padding: 16px 16px;
}

.courses {
    display: grid;
    padding: 32px 72px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.courses a {
    text-decoration: none;
    color: white;
}

.coursesmobile {
    display: none;
}

.courses img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid white;
}

.software {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

.computer {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

.design {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

.data {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

.business {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

.marketing {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 7px black;
    background-color: rgb(0, 61, 125);
    height: 28vw;
}

@media screen and (max-width: 750px) {
    .courses {
        display: none;
    }

    .section3 h2 {
        font-size: 8vw;
    }

    .coursesmobile {
        background-color: rgb(12, 6, 96);
        display: block;
        flex-direction: column;
        padding: 16px 16px 32px 16px;
    }

    .coursesmobile h3 {
        background-color: rgb(0, 61, 125);
        text-align: left;
        padding: 16px;
        font-size: 4vw;
        margin: 8px 16px;
        width: auto;
        border: 2px solid rgb(255, 255, 255);
    }

    .coursesmobile h3:hover {
        box-shadow: 2px 2px 7px black;
        color: blue;
    }

    .coursesmobile a {
        text-decoration: none;
        color: white;
    }
}

/* 4th Section */

.section4 {
    background-color: rgb(0, 61, 125);
}

.section4 h2 {
    text-align: center;
    padding: 32px 0;
}

.thesisexhibit {
    display: inline-flex;
}

.thesis {
    margin: 0 24px 32px 24px;
    width: 60%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(12, 6, 96);
    box-shadow: 2px 2px 7px black;
}

.thesismobile {
    display: none;
}

.thesis video {
    width: 100%;
    border-bottom: 2px solid white;
}

.thesis h3 {
    padding: 24px 0 8px 12px;
}

.thesis p { 
    padding: 0 8px 8px 12px;

}
.exhibit {
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 32px;
    background-color: rgb(12, 6, 96);
    box-shadow: 2px 2px 7px black;
}

.exhibit img {
    border: 2px solid rgb(255, 255, 255);
    width: 35%;
    height: auto;
    margin: 16px 0 16px 16px;
    box-shadow: 2px 2px 7px black;
}

.exhibit h3 {
    padding-bottom: 16px;
}

.fisma {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.prototype {
    width: 65%;
    padding-left: 16px;
}

.nowandthen {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.newyork {
    width: 65%;
    padding-left: 16px;
}

@media screen and (max-width: 750px) {
        
    .exhibit {
        display: none;
    }

    .urban {
        display: none;
    }

    .thesis  {
        width: 100%;
        height: auto;
        margin: 0 0 32px 0;
        border: none;
        border-top: 2px solid rgb(255, 255, 255);
    }

    .section4 h2 {
        font-size: 8vw;
    }


}

/* Footer */

footer {
    background-color: rgb(12, 6, 96);
}

.footer {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

footer p {
    padding: 24px 8px;
    font-size: 1vw;
}

.terms {
    display: inline-flex;
}

.terms a {
    text-decoration: none;
    color: white;
}

.terms a:hover {
    color: blue;
}

@media screen and (max-width: 750px) {
    
    .terms {
        display: none;
    }

    footer p {
        padding: 24px 8px;
        font-size: 2.5vw;
    }
}